[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bu]uilds/
[Ll]ogs
Assets/AssetStoreTools*

.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta

sysinfo.txt

*.aab
*.apk
*.unitypackage
*.keystore
